In [2]:
import pandas as pd
data = pd.read_csv("car data.csv")

In [3]:
data

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual
...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual

In [4]:
data.columns

Index(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Seller_Type', 'Transmission'],
      dtype='object')

In [12]:
data_sub = data[['Year','Selling_Price','Present_Price','Kms_Driven']]

In [13]:
correlation = data_sub.corr()

In [14]:
correlation

                   Year  Selling_Price  Present_Price  Kms_Driven
Year           1.000000       0.236141      -0.047584   -0.524342
Selling_Price  0.236141       1.000000       0.878983    0.029187
Present_Price -0.047584       0.878983       1.000000    0.203647
Kms_Driven    -0.524342       0.029187       0.203647    1.000000

In [17]:
import seaborn as sns

In [ ]:
sns.heatmap